    <% if flash[:messages] %>
        <% flash[:messages].each do |message| %>
        <p class="error-message"><%= message %></p>
        <br>
        <% end %>
    <% end %>

<%= render partial: "form", locals: { listing: @listing } %>