<h1 class="sub-heading d-flex justify-content-center align-self-center mt-5">We're not quite sure what's happened sorry</h1>
<h1 class="sub-heading d-flex justify-content-center align-self-center"><a href="<%= listings_path %>">Back to the shoes!</a></h1>