/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

@mixin roboto {
    font-family: 'Roboto', sans-serif;
}

@mixin lato {
    font-family: 'Lato', sans-serif;
}

@mixin staatliches {
    font-family: 'Staatliches', cursive;
}

.main-heading {
    @include staatliches;
    position: relative;
    left: 50px;
    top: 20px;
}

.mx-auto {
    @include staatliches;
}

h3 {
    @include lato;
}

p {
    @include lato;
}

.navbar {
    @include lato;
}

.greeting {
    @include lato;
}

.carousel-shoe-pic {
    width: 600px;
    height: 400px;
}

.card-img-top {
    width: 400px;
    height: 300px;
    margin: auto;
}

#carousel_images {
    margin: auto;
    max-width: 700px;
}

#carousel.carousel.slide {
    max-width: 50%;
    margin: auto;
}

.carousel-caption {
    text-shadow: 1px 0 0 #fff, 0 -1px 0 #fff, 0 1px 0 #fff, -1px 0 0 #fff;
    @include staatliches;
    right: 0;
    bottom: 0;
    position: absolute;
    font-size: 30px;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
    filter: invert(100%);
    height: 50px;
    width: 50px;
}

@media (min-width: 768px) {
    .navbar-brand.abs
        {
            position: absolute;
            width: 100%;
            left: 0;
            text-align: center;
        }
    }